<section name="attributes[{{index}}][{{index}}]">                    
    <label>Name</label><input name="attributes[{{index}}][{{index}}].name" type="text" />
    <label>Type</label><input name="attributes[{{index}}][{{index}}].type" type="text" />
    <label>Description</label><input name="attributes[{{index}}][{{index}}].description" type="text"/>
    <button type="button" data-group="attributes">Remove Attribute</button>
</section>